{
  "embed_image": "",
  "embed_color": "",
  "emojicode": "The meanings behind our top secret emoji reactions:\n:cookie: - Sign of approval.\n:cheese: - I laughed.\n:eggplant: - That's hot/that's my fetish.\n:banana: - Nice innuendo/sex pun.\n:hot_pepper: - Sick burns, yo.\n:cucumber: - Lame joke/pun.\n<:jelly:251159380026851329> - I'm jelly.\n<:salt:251167977750134785> - When someone's feeling salty.\n:popcorn: - When drama ensues.\n:corn: - Praise.\n:taco: - For *Casey and Friends* references.\n:watermelon: - \"Safe word\" for topics that make you uncomfortable."
}
