{
	"names": [
    "Fire",
    "Water",
    "Earth",
    "Wind",
    "Ice",
    "Metal",
    "Lightning",
    "Shadow",
    "Light",
    "Elven",
    "Bread",
    "Wine",
    "Blood",
    "Zombie"
	]
}
